# testing w2v with multi-user sampled data

In [9]:
import psycopg2
import json
import time
import pandas as pd
from w2v_helpers import * 
import warnings;
warnings.filterwarnings('ignore')

with open('values.json', 'r') as values_file:
    values = json.load(values_file)

connection = psycopg2.connect(
    database  =  values['DB_NAME'],
    user      =  values['DB_USER'],
    password  =  values['DB_PASSWORD'],
    host      =  values['DEV'],
    port      =  values['PORT']
)
try:
    cursor_dog = connection.cursor()
    connection = connection  
    print("Connected!")
except Exception as e:
    print("Connection problem chief!\n")
    print(e)

Connected!

In [27]:
user_id = 1
query = "SELECT date, name, year, letterboxd_uri, rating FROM user_letterboxd_ratings WHERE user_id=%s;"
cursor_dog.execute(query, (user_id,))
ratings_sql= cursor_dog.fetchall()
ratings_sql = pd.DataFrame(ratings_sql, columns = ['Date', 'Name', 'Year', 'Letterboxd URI', 'Rating'])

In [30]:
%%time


id_book = pd.read_csv('title_basics_small.csv')
ratings1 = pd.read_csv('exported_data/letterboxd/riley/ratings.csv').sample(30)
ratings2 = pd.read_csv('exported_data/letterboxd/eric/ratings.csv').sample(30)
ratings3 = pd.read_csv('exported_data/letterboxd/cooper/ratings.csv').sample(20)
ratings4 = ratings_sql.sample(20)
ratings = pd.concat([ratings1, ratings2, ratings3, ratings4]).drop_duplicates()

good_list, bad_list, hist_list, val_list, ratings_dict = prep_data(
                            ratings, id_book, cursor_dog, None, None, good_threshold=3, bad_threshold=2)
rec = Recommender('w2v_limitingfactor_v2.model', id_book, cursor_dog)
w2v_preds = rec.predict(good_list, bad_list, hist_list, val_list, ratings_dict, n=500, harshness=1, rec_movies=True, scoring=True,)

df = pd.DataFrame(w2v_preds, columns = ['Name', 'Year', 'URL', 'Mean Rating', 'Votes', 'Similarity', 'ID'])
filter = (df.Year > 1990) & (df.Votes > 8000) 
print("Number of results: ", len(df[filter]))
df[filter][:20]

Number of results:  104
Wall time: 27.7 s

,Name,Year,URL,Mean Rating,Votes,Similarity,ID
32,Samaritan Girl,2004.0,https://www.imdb.com/title/tt0397619/,7.1,12604.0,0.183208,0397619
43,Short Cuts,1993.0,https://www.imdb.com/title/tt0108122/,7.7,40463.0,0.177187,0108122
46,Stalingrad,1993.0,https://www.imdb.com/title/tt0108211/,7.5,29046.0,0.175091,0108211
48,Hedwig and the Angry Inch,2001.0,https://www.imdb.com/title/tt0248845/,7.7,30428.0,0.174445,0248845
49,Sonatine,1993.0,https://www.imdb.com/title/tt0108188/,7.5,16424.0,0.174093,0108188
55,Recess: School's Out,2001.0,https://www.imdb.com/title/tt0265632/,6.6,8831.0,0.170269,0265632
57,Brat 2,2000.0,https://www.imdb.com/title/tt0238883/,7.8,11135.0,0.169078,0238883
70,Natural Born Killers,1994.0,https://www.imdb.com/title/tt0110632/,7.3,205835.0,0.164091,0110632
75,Nixon,1995.0,https://www.imdb.com/title/tt0113987/,7.1,27560.0,0.159682,0113987
81,Basquiat,1996.0,https://www.imdb.com/title/tt0115632/,6.9,18660.0,0.157195,0115632
87,In the Mood for Love,2000.0,https://www.imdb.com/title/tt0118694/,8.1,111412.0,0.153917,0118694
89,Searching for Bobby Fischer,1993.0,https://www.imdb.com/title/tt0108065/,7.4,27856.0,0.152774,0108065
90,Dazed and Confused,1993.0,https://www.imdb.com/title/tt0106677/,7.6,152238.0,0.152732,0106677
97,Speed,1994.0,https://www.imdb.com/title/tt0111257/,7.2,312324.0,0.150647,0111257
98,Underground,1995.0,https://www.imdb.com/title/tt0114787/,8.1,52241.0,0.150620,0114787
99,Blue in the Face,1995.0,https://www.imdb.com/title/tt0112541/,6.7,8694.0,0.150006,0112541
102,I.Q.,1994.0,https://www.imdb.com/title/tt0110099/,6.2,22707.0,0.149435,0110099
103,Naked Gun 33 1/3: The Final Insult,1994.0,https://www.imdb.com/title/tt0110622/,6.5,91760.0,0.149307,0110622
106,Fortress,1992.0,https://www.imdb.com/title/tt0106950/,5.9,26496.0,0.148593,0106950
110,The Madness of King George,1994.0,https://www.imdb.com/title/tt0110428/,7.2,14610.0,0.148186,0110428