## Export data from the old Database, and import processed data in the new DB

Import saved csv files using the Import/Export wizard in pdAdmin4

In [ ]:
# imports
import psycopg2
import numpy as np
import os
import pandas as pd
from dotenv import load_dotenv

In [ ]:
load_dotenv()

DB_NAME_OLD = os.getenv("DB_NAME_OLD")
DB_NAME_NEW = os.getenv("DB_NAME_NEW")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
PORT = os.getenv("PORT")
HOST = os.getenv("HOST")

# Connect to the old database
connection_old = psycopg2.connect(
    user=DB_USER,
    password=DB_PASSWORD,
    host=HOST,
    port=PORT,
    database=DB_NAME_OLD
)

# Connect to the new database
connection_new = psycopg2.connect(
    user=DB_USER,
    password=DB_PASSWORD,
    host=HOST,
    port=PORT,
    database=DB_NAME_NEW
)

### User ratings

In [ ]:
# Data from user_groa_ratings
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date, a.rating
        FROM user_groa_ratings a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_groa_ratings = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
rating = []

for row in user_groa_ratings:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2])
    date.append(row[3])
    rating.append(row[4])
    
user_groa_ratings = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'rating': rating
})
print(user_groa_ratings.shape)
user_groa_ratings.head()

(9492, 5)

     id  user_id movie_id        date  rating
0  9234   312517  1051904  2016-05-23     2.0
1  7152   311074  1051904  2016-05-23     2.0
2  8853   312517  1057500  2013-02-11     2.5
3  6773   311074  1057500  2013-02-11     2.5
4  9282   312517  1059786  2017-02-16     3.0

In [ ]:
# Check for duplicates
pd.concat(g for _, g in user_groa_ratings.groupby(['id']) if len(g) > 1)

         id  user_id movie_id        date  rating
787     549    42593  1895587  2019-03-15     1.5
4414    549    42593  7785302  2019-03-15     1.5
786    1054    72527  1895587  2019-03-15     1.5
4413   1054    72527  7785302  2019-03-15     1.5
785    1118    70254  1895587  2019-03-15     1.5
...     ...      ...      ...         ...     ...
8095  15624   316396  1014759  2018-12-18     3.0
757   15965   316396  1895587  2019-03-15     1.5
4384  15965   316396  7785302  2019-03-15     1.5
4559  16107   315729  1799508  2020-04-09     4.0
4605  16107   315729  2404163  2020-04-09     4.0

[118 rows x 5 columns]

In [ ]:
# drop ALL duplicate values 
user_groa_ratings.drop_duplicates(subset =['id'], keep = False, inplace = True)

In [ ]:
# Drop the id
user_groa_ratings = user_groa_ratings.drop(['id'], axis=1)
user_groa_ratings.head()

   user_id movie_id        date  rating
0   312517  1051904  2016-05-23     2.0
1   311074  1051904  2016-05-23     2.0
2   312517  1057500  2013-02-11     2.5
3   311074  1057500  2013-02-11     2.5
4   312517  1059786  2017-02-16     3.0

In [ ]:
# Add the source
user_groa_ratings['source'] = 'groa'
user_groa_ratings.head()

   user_id movie_id        date  rating source
0   312517  1051904  2016-05-23     2.0   groa
1   311074  1051904  2016-05-23     2.0   groa
2   312517  1057500  2013-02-11     2.5   groa
3   311074  1057500  2013-02-11     2.5   groa
4   312517  1059786  2017-02-16     3.0   groa

In [ ]:
# Data from user_imdb_ratings
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date, a.rating
        FROM user_imdb_ratings a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_imdb_ratings = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
rating = []

for row in user_imdb_ratings:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2])
    date.append(row[3])
    rating.append(row[4])
    
user_imdb_ratings = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'rating': rating
})
print(user_imdb_ratings.shape)
user_imdb_ratings.head()

(18498, 5)

      id  user_id movie_id        date  rating
0  19927       11  1396484  2017-12-31     4.5
1  20312       11  1119646  2018-12-18     4.5
2  20157       11  1119646  2018-12-18     4.5
3  19969       11  1119646  2018-12-18     4.5
4  19634       11  1119646  2018-12-18     4.5

In [ ]:
# Check for duplicates
pd.concat(g for _, g in user_imdb_ratings.groupby(['id']) if len(g) > 1)

          id  user_id movie_id        date  rating
6299      57       11  0229208  2017-02-16     4.5
10702     57       11  0086879  2017-02-16     4.5
6298     291       11  0229208  2017-02-15     4.5
10701    291       11  0086879  2017-02-15     4.5
6297     832       11  0229208  2017-02-15     4.5
...      ...      ...      ...         ...     ...
10620  19533       11  0086879  2017-02-16     4.5
6216   19586       11  0229208  2017-02-16     4.5
10619  19586       11  0086879  2017-02-16     4.5
6215   19900       11  0229208  2017-02-16     4.5
10618  19900       11  0086879  2017-02-16     4.5

[170 rows x 5 columns]

In [ ]:
# drop ALL duplicate values 
user_imdb_ratings.drop_duplicates(subset =['id'], keep = False, inplace = True)

In [ ]:
# Drop the id
user_imdb_ratings = user_imdb_ratings.drop(['id'], axis=1)

# Add the source
user_imdb_ratings['source'] = 'imdb'
user_imdb_ratings.head()

   user_id movie_id        date  rating source
0       11  1396484  2017-12-31     4.5   imdb
1       11  1119646  2018-12-18     4.5   imdb
2       11  1119646  2018-12-18     4.5   imdb
3       11  1119646  2018-12-18     4.5   imdb
4       11  1119646  2018-12-18     4.5   imdb

In [ ]:
# Data from user_letterboxd_ratings
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date, a.rating
        FROM user_letterboxd_ratings a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_letterboxd_ratings = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
rating = []

for row in user_letterboxd_ratings:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2])
    date.append(row[3])
    rating.append(row[4])
    
user_letterboxd_ratings = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'rating': rating
})
print(user_letterboxd_ratings.shape)
user_letterboxd_ratings.head()

(108075, 5)

      id  user_id movie_id        date  rating
0  15204    15061  0462499  2012-10-18     3.0
1  15093    15061  0114369  2012-09-21     4.0
2  15131    15061  0056869  2012-09-21     3.5
3   8000     7968  0114369  2012-09-20     4.0
4   8047     7968  0372784  2012-09-20     3.5

In [ ]:
# Check for duplicates
pd.concat(g for _, g in user_letterboxd_ratings.groupby(['id']) if len(g) > 1)

           id  user_id movie_id        date  rating
81935      30        1  0086879  2020-02-13     3.5
81936      30        1  0229208  2020-02-13     3.5
80086    5023        1  0086879  2020-02-14     4.5
80093    5023        1  0229208  2020-02-14     4.5
68813    5479     5028  2651158  2013-12-14     4.0
...       ...      ...      ...         ...     ...
81843  310396   310305  0229208  2020-02-14     3.5
93743  310579    48484  0086879  2020-02-14     3.5
93744  310579    48484  0229208  2020-02-14     3.5
81661  310772   310672  0086879  2020-02-14     3.5
81664  310772   310672  0229208  2020-02-14     3.5

[1194 rows x 5 columns]

In [ ]:
# drop ALL duplicate values 
user_letterboxd_ratings.drop_duplicates(subset =['id'], keep = False, inplace = True)

In [ ]:
# Drop the id
user_letterboxd_ratings = user_letterboxd_ratings.drop(['id'], axis=1)

# Add the source
user_letterboxd_ratings['source'] = 'letterboxd'
user_letterboxd_ratings.head()

   user_id movie_id        date  rating      source
0    15061  0462499  2012-10-18     3.0  letterboxd
1    15061  0114369  2012-09-21     4.0  letterboxd
2    15061  0056869  2012-09-21     3.5  letterboxd
3     7968  0114369  2012-09-20     4.0  letterboxd
4     7968  0372784  2012-09-20     3.5  letterboxd

In [ ]:
# Shapes of ratings tables
print('shape of user_groa_ratings:', user_groa_ratings.shape)
print('shape of user_imdb_ratings:', user_imdb_ratings.shape)
print('shape of user_letterboxd_ratings:', user_letterboxd_ratings.shape)
print('Total rows:', user_groa_ratings.shape[0] + user_imdb_ratings.shape[0] + user_letterboxd_ratings.shape[0])

shape of user_groa_ratings: (9374, 5)
shape of user_imdb_ratings: (18328, 5)
shape of user_letterboxd_ratings: (106881, 5)
Total rows: 134583

In [ ]:
# Concatenate the above three dataframes
frames = [user_groa_ratings, user_imdb_ratings, user_letterboxd_ratings]
user_ratings = pd.concat(frames)
print(user_ratings.shape)
user_ratings.head()

(134583, 5)

   user_id movie_id        date  rating source
0   312517  1051904  2016-05-23     2.0   groa
1   311074  1051904  2016-05-23     2.0   groa
2   312517  1057500  2013-02-11     2.5   groa
3   311074  1057500  2013-02-11     2.5   groa
4   312517  1059786  2017-02-16     3.0   groa

In [ ]:
# Save the dataframe into csv file
user_ratings.to_csv('user_ratings.csv', index=False)

### User reviews

In [ ]:
# Data from user_groa_reviews
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date, a.review, a.tags
        FROM user_groa_reviews a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_groa_reviews = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
review_title = []
review_text = []
tags = []
source = []

for row in user_groa_reviews:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2]),
    date.append(row[3])
    review_title.append(np.NaN)
    review_text.append(row[4])
    tags.append(row[5])
    source.append('groa')

user_groa_reviews = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'review_title': review_title,
    'review_text': review_text,
    'tags': tags,
    'source': source
})
print(user_groa_reviews.shape)
user_groa_reviews.head()

(315, 8)

,id,user_id,movie_id,date,review_title,review_text,tags,source
0,9519,312517,1170358,2013-12-30,NaN,I curled my upper lip so hard that it creased....,,groa
1,7433,311074,1170358,2013-12-30,NaN,I curled my upper lip so hard that it creased....,,groa
2,7364,311074,1250777,2012-09-21,NaN,"A marvel of filmmaking fun, fists, frisson, an...",,groa
3,7398,311074,1228987,2012-11-24,NaN,Basically superfluous. The original was perfec...,,groa
4,9484,312517,1228987,2012-11-24,NaN,Basically superfluous. The original was perfec...,,groa

In [ ]:
# Check for duplicates
pd.concat(g for _, g in user_groa_reviews.groupby(['id']) if len(g) > 1)

,id,user_id,movie_id,date,review_title,review_text,tags,source
36,7440,311074,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,groa
146,7440,311074,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,groa
35,9525,312517,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,groa
129,9525,312517,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,groa

In [ ]:
# drop ALL duplicate values 
user_groa_reviews.drop_duplicates(subset =['id'], keep = False, inplace = True)

# Drop the id
user_groa_reviews = user_groa_reviews.drop(['id'], axis=1)
user_groa_reviews.head()

,user_id,movie_id,date,review_title,review_text,tags,source
0,312517,1170358,2013-12-30,NaN,I curled my upper lip so hard that it creased....,,groa
1,311074,1170358,2013-12-30,NaN,I curled my upper lip so hard that it creased....,,groa
2,311074,1250777,2012-09-21,NaN,"A marvel of filmmaking fun, fists, frisson, an...",,groa
3,311074,1228987,2012-11-24,NaN,Basically superfluous. The original was perfec...,,groa
4,312517,1228987,2012-11-24,NaN,Basically superfluous. The original was perfec...,,groa

In [ ]:
# Data from user_letterboxd_reviews
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date, a.review, a.tags
        FROM user_letterboxd_reviews a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_letterboxd_reviews = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
review_title = []
review_text = []
tags = []
source = []

for row in user_letterboxd_reviews:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2]),
    date.append(row[3])
    review_title.append(np.NaN)
    review_text.append(row[4])
    tags.append(row[5])
    source.append('letterboxd')

user_letterboxd_reviews = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'review_title': review_title,
    'review_text': review_text,
    'tags': tags,
    'source': source
})
print(user_letterboxd_reviews.shape)
user_letterboxd_reviews.head()

(11210, 8)

,id,user_id,movie_id,date,review_title,review_text,tags,source
0,593,19614,0033870,2012-09-21,NaN,Humphrey Bogart makes this film with the colde...,,letterboxd
1,11375,276525,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd
2,12517,306631,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd
3,12164,297984,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd
4,8133,197098,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd

In [ ]:
# Check for duplicates
pd.concat(g for _, g in user_letterboxd_reviews.groupby(['id']) if len(g) > 1)

,id,user_id,movie_id,date,review_title,review_text,tags,source
7483,91,1,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",None,letterboxd
8498,91,1,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",None,letterboxd
7537,187,5028,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
8552,187,5028,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
7536,284,5028,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
...,...,...,...,...,...,...,...,...
8484,12080,294333,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
7466,12338,301078,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
8481,12338,301078,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
7436,12634,48485,2514592,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd
8451,12634,48485,1935179,2018-01-11,NaN,"""The deal was for the gun, not for bullets."" ""...",,letterboxd

In [ ]:
# drop ALL duplicate values 
user_letterboxd_reviews.drop_duplicates(subset =['id'], keep = False, inplace = True)

# Drop the id
user_letterboxd_reviews = user_letterboxd_reviews.drop(['id'], axis=1)
user_letterboxd_reviews.head()

,user_id,movie_id,date,review_title,review_text,tags,source
0,19614,0033870,2012-09-21,NaN,Humphrey Bogart makes this film with the colde...,,letterboxd
1,276525,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd
2,306631,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd
3,297984,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd
4,197098,0030287,2019-02-14,NaN,"""I like my convictions undiluted -- same as I ...",,letterboxd

In [ ]:
# Shapes of user review tables
print('shape of user_groa_reviews:', user_groa_reviews.shape)
print('shape of user_letterboxd_reviews:', user_letterboxd_reviews.shape)
print('Total rows:', user_groa_reviews.shape[0] + user_letterboxd_reviews.shape[0])

shape of user_groa_reviews: (311, 7)
shape of user_letterboxd_reviews: (10996, 7)
Total rows: 11307

In [ ]:
# Concatenate the above dataframes
frames = [user_groa_reviews, user_letterboxd_reviews]
user_reviews = pd.concat(frames)
print(user_reviews.shape)
user_reviews.head()

(11307, 7)

,user_id,movie_id,date,review_title,review_text,tags,source
0,312517,1170358,2013-12-30,NaN,I curled my upper lip so hard that it creased....,,groa
1,311074,1170358,2013-12-30,NaN,I curled my upper lip so hard that it creased....,,groa
2,311074,1250777,2012-09-21,NaN,"A marvel of filmmaking fun, fists, frisson, an...",,groa
3,311074,1228987,2012-11-24,NaN,Basically superfluous. The original was perfec...,,groa
4,312517,1228987,2012-11-24,NaN,Basically superfluous. The original was perfec...,,groa

In [ ]:
# Save the dataframe into csv file
user_reviews.to_csv('user_reviews.csv', index=False)

### User watched

In [ ]:
# Data from user_letterboxd_watched
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date
        FROM user_letterboxd_watched a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_letterboxd_watched = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
source = []

for row in user_letterboxd_watched:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2]),
    date.append(row[3])
    source.append('letterboxd')

user_letterboxd_watched = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'source': source
})
print(user_letterboxd_watched.shape)
user_letterboxd_watched.head()

(159231, 5)

     id  user_id movie_id        date      source
0  1177      296  0371746  2012-09-20  letterboxd
1  1227      296  0033467  2012-09-20  letterboxd
2  1261      296  0114814  2012-09-20  letterboxd
3  1764      296  0443536  2012-11-05  letterboxd
4  1785      296  0358082  2012-11-09  letterboxd

In [ ]:
# Check for duplicates
pd.concat(g for _, g in user_letterboxd_watched.groupby(['id']) if len(g) > 1)

            id  user_id movie_id        date      source
113951      36        1  0229208  2020-02-13  letterboxd
113952      36        1  0086879  2020-02-13  letterboxd
94814     1181      296  1655442  2012-09-20  letterboxd
94816     1181      296  1825978  2012-09-20  letterboxd
100866    1344      296  0229208  2012-09-20  letterboxd
...        ...      ...      ...         ...         ...
113693  316679   316396  2514592  2018-12-18  letterboxd
156218  316688   316396  1014759  2018-12-18  letterboxd
156219  316688   316396  2049386  2018-12-18  letterboxd
55389   317020   316396  1895587  2019-03-15  letterboxd
55393   317020   316396  7785302  2019-03-15  letterboxd

[2344 rows x 5 columns]

In [ ]:
# drop ALL duplicate values 
user_letterboxd_watched.drop_duplicates(subset =['id'], keep = False, inplace = True)

# Drop the id
user_letterboxd_watched = user_letterboxd_watched.drop(['id'], axis=1)
user_letterboxd_watched.head()

   user_id movie_id        date      source
0      296  0371746  2012-09-20  letterboxd
1      296  0033467  2012-09-20  letterboxd
2      296  0114814  2012-09-20  letterboxd
3      296  0443536  2012-11-05  letterboxd
4      296  0358082  2012-11-09  letterboxd

In [ ]:
# Save the dataframe into csv file
user_letterboxd_watched.to_csv('user_watched.csv', index=False)

### User Watchlist

In [ ]:
# Data from user_letterboxd_watchlist
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date
        FROM user_letterboxd_watchlist a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_letterboxd_watchlist = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
source = []

for row in user_letterboxd_watchlist:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2]),
    date.append(row[3])
    source.append('letterboxd')

user_letterboxd_watchlist = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'source': source
})

# drop ALL duplicate values 
user_letterboxd_watchlist.drop_duplicates(subset =['id'], keep = False, inplace = True)

# Drop the id
user_letterboxd_watchlist = user_letterboxd_watchlist.drop(['id'], axis=1)
user_letterboxd_watchlist.head()

   user_id movie_id        date      source
0      NaN  0114746  2012-09-20  letterboxd
1      NaN  0388795  2012-09-20  letterboxd
2      NaN  0408306  2012-09-20  letterboxd
3      NaN  0057129  2012-11-20  letterboxd
4      NaN  0114279  2012-11-20  letterboxd

In [ ]:
# How many missing values?
print(user_letterboxd_watchlist.shape)
user_letterboxd_watchlist.isnull().sum()

(92549, 4)

user_id     2086
movie_id       0
date           0
source         0
dtype: int64

In [ ]:
# Drop values with missing data
user_letterboxd_watchlist = user_letterboxd_watchlist.dropna()

# Convert user_id from float into integer
user_letterboxd_watchlist['user_id'] = user_letterboxd_watchlist['user_id'].astype(int)
user_letterboxd_watchlist.shape

(90463, 4)

In [ ]:
# Data from user_groa_watchlist
cursor_old = connection_old.cursor()
query = """SELECT a.id, a.user_id, b.movie_id, a.date
        FROM user_groa_watchlist a, imdb_movies b
        WHERE (a.name=b.primary_title AND a.year=b.start_year) OR
                (a.name=b.original_title AND a.year=b.start_year)"""
cursor_old.execute(query)
user_groa_watchlist = cursor_old.fetchall()
cursor_old.close()

id = []
user_id = []
movie_id = []
date = []
source = []

for row in user_groa_watchlist:
    id.append(row[0])
    user_id.append(row[1])
    movie_id.append(row[2])
    date.append(row[3])
    source.append('groa')

user_groa_watchlist = pd.DataFrame({
    'id': id,
    'user_id': user_id,
    'movie_id': movie_id,
    'date': date,
    'source': source
})

# drop ALL duplicate values 
user_groa_watchlist.drop_duplicates(subset =['id'], keep = False, inplace = True)

# Drop the id
user_groa_watchlist = user_groa_watchlist.drop(['id'], axis=1)
user_groa_watchlist.head()

   user_id movie_id        date source
0   312517  1093842  2013-07-18   groa
1   312517  1091722  2013-07-17   groa
2   311074  1091722  2013-07-17   groa
3   312517  1069238  2012-10-23   groa
4   311074  1069238  2012-10-23   groa

In [ ]:
# Shapes of user review tables
print('shape of user_groa_watchlist:', user_groa_watchlist.shape)
print('shape of user_letterboxd_watchlist:', user_letterboxd_watchlist.shape)
print('Total rows:', user_groa_watchlist.shape[0] + user_letterboxd_watchlist.shape[0])

# Concatenate the dataframes
frames = [user_groa_watchlist, user_letterboxd_watchlist]
user_watchlist = pd.concat(frames)
print(user_watchlist.shape)
user_watchlist.head()

shape of user_groa_watchlist: (2627, 4)
shape of user_letterboxd_watchlist: (90463, 4)
Total rows: 93090
(93090, 4)

   user_id movie_id        date source
0   312517  1093842  2013-07-18   groa
1   312517  1091722  2013-07-17   groa
2   311074  1091722  2013-07-17   groa
3   312517  1069238  2012-10-23   groa
4   311074  1069238  2012-10-23   groa

In [ ]:
# Save the dataframe into csv file
user_watchlist.to_csv('user_watchlist.csv', index=False)

### Movie reviews

In [ ]:
query = """SELECT movie_id FROM movies"""
cursor_new = connection_new.cursor()
cursor_new.execute(query)
movie_ids = [row[0] for row in cursor_new.fetchall()]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
movie_ids = set(movie_ids)

In [ ]:
for movie_id in movie_ids:
    print(type(movie_id))
    break

<class 'str'>

In [ ]:
# Data from user_imdb_ratings
cursor_old = connection_old.cursor()
query = """SELECT * FROM imdb_reviews"""
cursor_old.execute(query)
movie_reviews = cursor_old.fetchall()
cursor_old.close()

movie_id = []
review_date = []
user_rating = []
helpful_num = []
helpful_denom = []
user_name = []
review_text = []
review_title = []

In [ ]:

movie_reviews_lst = []

for row in movie_reviews:
    
    if row[0] not in movie_ids:
        continue
    
    movie_reviews_lst.append([row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7]])

len(movie_reviews_lst)

3453257

In [ ]:
len(movie_reviews)

3462445

In [ ]:
# Save the dataframe into csv file
movie_reviews.to_csv('tab_movie_reviews.csv', sep='\t', index=False)

In [ ]:
movie_reviews = pd.read_csv("tab_movie_reviews.csv", sep="\t", dtype={"movie_id": "str"})

In [ ]:
movie_reviews.dtypes

movie_id          object
review_date       object
user_rating      float64
helpful_num        int64
helpful_denom      int64
user_name         object
review_text       object
review_title      object
dtype: object

In [ ]:
from psycopg2.extras import execute_batch

cursor_new = connection_new.cursor()
step = 1000

for ix in range(3000, len(movie_reviews), step):
    print(f"doing step: {ix}")
    
    batch = movie_reviews_lst[ix:ix+step]
    
    execute_batch(cursor_new, """
        INSERT INTO movie_reviews (movie_id, review_date, user_rating, helpful_num, helpful_denom, user_name, review_text, review_title)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
        """, batch
    )

doing step: 3000
doing step: 4000
doing step: 5000
doing step: 6000
doing step: 7000
doing step: 8000
doing step: 9000
doing step: 10000
doing step: 11000
doing step: 12000
doing step: 13000
doing step: 14000
doing step: 15000
doing step: 16000
doing step: 17000
doing step: 18000
doing step: 19000
doing step: 20000
doing step: 21000
doing step: 22000
doing step: 23000
doing step: 24000
doing step: 25000
doing step: 26000
doing step: 27000
doing step: 28000
doing step: 29000
doing step: 30000
doing step: 31000
doing step: 32000
doing step: 33000
doing step: 34000
doing step: 35000
doing step: 36000
doing step: 37000
doing step: 38000
doing step: 39000
doing step: 40000
doing step: 41000
doing step: 42000
doing step: 43000
doing step: 44000
doing step: 45000
doing step: 46000
doing step: 47000
doing step: 48000
doing step: 49000
doing step: 50000
doing step: 51000
doing step: 52000
doing step: 53000
doing step: 54000
doing step: 55000
doing step: 56000
doing step: 57000
doing step: 58000
doing step: 59000
doing step: 60000
doing step: 61000
doing step: 62000
doing step: 63000
doing step: 64000
doing step: 65000
doing step: 66000
doing step: 67000
doing step: 68000
doing step: 69000
doing step: 70000
doing step: 71000
doing step: 72000
doing step: 73000
doing step: 74000
doing step: 75000
doing step: 76000
doing step: 77000
doing step: 78000
doing step: 79000
doing step: 80000
doing step: 81000
doing step: 82000
doing step: 83000
doing step: 84000
doing step: 85000
doing step: 86000
doing step: 87000
doing step: 88000
doing step: 89000
doing step: 90000
doing step: 91000
doing step: 92000
doing step: 93000
doing step: 94000
doing step: 95000
doing step: 96000
doing step: 97000
doing step: 98000
doing step: 99000
doing step: 100000
doing step: 101000
doing step: 102000
doing step: 103000
doing step: 104000
doing step: 105000
doing step: 106000
doing step: 107000
doing step: 108000
doing step: 109000
doing step: 110000
doing step: 111000
doing step: 112000
doing step: 113000
doing step: 114000
doing step: 115000
doing step: 116000
doing step: 117000
doing step: 118000
doing step: 119000
doing step: 120000
doing step: 121000
doing step: 122000
doing step: 123000
doing step: 124000
doing step: 125000
doing step: 126000
doing step: 127000
doing step: 128000
doing step: 129000
doing step: 130000
doing step: 131000
doing step: 132000
doing step: 133000
doing step: 134000
doing step: 135000
doing step: 136000
doing step: 137000
doing step: 138000
doing step: 139000
doing step: 140000
doing step: 141000
doing step: 142000
doing step: 143000
doing step: 144000
doing step: 145000
doing step: 146000
doing step: 147000
doing step: 148000
doing step: 149000
doing step: 150000
doing step: 151000
doing step: 152000
doing step: 153000
doing step: 154000
doing step: 155000
doing step: 156000
doing step: 157000
doing step: 158000
doing step: 159000
doing step: 160000
doing step: 161000
doing step: 162000
doing step: 163000
doing step: 164000
doing step: 165000
doing step: 166000
doing step: 167000
doing step: 168000
doing step: 169000
doing step: 170000
doing step: 171000
doing step: 172000
doing step: 173000
doing step: 174000
doing step: 175000
doing step: 176000
doing step: 177000
doing step: 178000
doing step: 179000
doing step: 180000
doing step: 181000
doing step: 182000
doing step: 183000
doing step: 184000
doing step: 185000
doing step: 186000
doing step: 187000
doing step: 188000
doing step: 189000
doing step: 190000
doing step: 191000
doing step: 192000
doing step: 193000
doing step: 194000
doing step: 195000
doing step: 196000
doing step: 197000
doing step: 198000
doing step: 199000
doing step: 200000
doing step: 201000
doing step: 202000
doing step: 203000
doing step: 204000
doing step: 205000
doing step: 206000
doing step: 207000
doing step: 208000
doing step: 209000
doing step: 210000
doing step: 211000
doing step: 212000
doing step: 213000
doing step: 214000
doing step: 215000
doing step: 216000
doing step: 217000
doing step: 218000
doing step: 219000
doing step: 220000
doing step: 221000
doing step: 222000
doing step: 223000
doing step: 224000
doing step: 225000
doing step: 226000
doing step: 227000
doing step: 228000
doing step: 229000
doing step: 230000
doing step: 231000
doing step: 232000
doing step: 233000
doing step: 234000
doing step: 235000
doing step: 236000
doing step: 237000
doing step: 238000
doing step: 239000
doing step: 240000
doing step: 241000
doing step: 242000
doing step: 243000
doing step: 244000
doing step: 245000
doing step: 246000
doing step: 247000
doing step: 248000
doing step: 249000
doing step: 250000
doing step: 251000
doing step: 252000
doing step: 253000
doing step: 254000
doing step: 255000
doing step: 256000
doing step: 257000
doing step: 258000
doing step: 259000
doing step: 260000
doing step: 261000
doing step: 262000
doing step: 263000
doing step: 264000
doing step: 265000
doing step: 266000
doing step: 267000
doing step: 268000
doing step: 269000
doing step: 270000
doing step: 271000
doing step: 272000
doing step: 273000
doing step: 274000
doing step: 275000
doing step: 276000
doing step: 277000
doing step: 278000
doing step: 279000
doing step: 280000
doing step: 281000
doing step: 282000
doing step: 283000
doing step: 284000
doing step: 285000
doing step: 286000
doing step: 287000
doing step: 288000
doing step: 289000
doing step: 290000
doing step: 291000
doing step: 292000
doing step: 293000
doing step: 294000
doing step: 295000
doing step: 296000
doing step: 297000
doing step: 298000
doing step: 299000
doing step: 300000
doing step: 301000
doing step: 302000
doing step: 303000
doing step: 304000
doing step: 305000
doing step: 306000
doing step: 307000
doing step: 308000
doing step: 309000
doing step: 310000
doing step: 311000
doing step: 312000
doing step: 313000
doing step: 314000
doing step: 315000
doing step: 316000
doing step: 317000
doing step: 318000
doing step: 319000
doing step: 320000
doing step: 321000
doing step: 322000
doing step: 323000
doing step: 324000
doing step: 325000
doing step: 326000
doing step: 327000
doing step: 328000
doing step: 329000
doing step: 330000
doing step: 331000
doing step: 332000
doing step: 333000
doing step: 334000
doing step: 335000
doing step: 336000
doing step: 337000
doing step: 338000
doing step: 339000
doing step: 340000
doing step: 341000
doing step: 342000
doing step: 343000
doing step: 344000
doing step: 345000
doing step: 346000
doing step: 347000
doing step: 348000
doing step: 349000
doing step: 350000
doing step: 351000
doing step: 352000
doing step: 353000
doing step: 354000
doing step: 355000
doing step: 356000
doing step: 357000
doing step: 358000
doing step: 359000
doing step: 360000
doing step: 361000
doing step: 362000
doing step: 363000
doing step: 364000
doing step: 365000
doing step: 366000
doing step: 367000
doing step: 368000
doing step: 369000
doing step: 370000
doing step: 371000
doing step: 372000
doing step: 373000
doing step: 374000
doing step: 375000
doing step: 376000
doing step: 377000
doing step: 378000
doing step: 379000
doing step: 380000
doing step: 381000
doing step: 382000
doing step: 383000
doing step: 384000
doing step: 385000
doing step: 386000
doing step: 387000
doing step: 388000
doing step: 389000
doing step: 390000
doing step: 391000
doing step: 392000
doing step: 393000
doing step: 394000
doing step: 395000
doing step: 396000
doing step: 397000
doing step: 398000
doing step: 399000
doing step: 400000
doing step: 401000
doing step: 402000
doing step: 403000
doing step: 404000
doing step: 405000
doing step: 406000
doing step: 407000
doing step: 408000
doing step: 409000
doing step: 410000
doing step: 411000
doing step: 412000
doing step: 413000
doing step: 414000
doing step: 415000
doing step: 416000
doing step: 417000
doing step: 418000
doing step: 419000
doing step: 420000
doing step: 421000
doing step: 422000
doing step: 423000
doing step: 424000
doing step: 425000
doing step: 426000
doing step: 427000
doing step: 428000
doing step: 429000
doing step: 430000
doing step: 431000
doing step: 432000
doing step: 433000
doing step: 434000
doing step: 435000
doing step: 436000
doing step: 437000
doing step: 438000
doing step: 439000
doing step: 440000
doing step: 441000
doing step: 442000
doing step: 443000
doing step: 444000
doing step: 445000
doing step: 446000
doing step: 447000
doing step: 448000
doing step: 449000
doing step: 450000
doing step: 451000
doing step: 452000
doing step: 453000
doing step: 454000
doing step: 455000
doing step: 456000
doing step: 457000
doing step: 458000
doing step: 459000
doing step: 460000
doing step: 461000
doing step: 462000
doing step: 463000
doing step: 464000
doing step: 465000
doing step: 466000
doing step: 467000
doing step: 468000
doing step: 469000
doing step: 470000
doing step: 471000
doing step: 472000
doing step: 473000
doing step: 474000
doing step: 475000
doing step: 476000
doing step: 477000
doing step: 478000
doing step: 479000
doing step: 480000
doing step: 481000
doing step: 482000
doing step: 483000
doing step: 484000
doing step: 485000
doing step: 486000
doing step: 487000
doing step: 488000
doing step: 489000
doing step: 490000
doing step: 491000
doing step: 492000
doing step: 493000
doing step: 494000
doing step: 495000
doing step: 496000
doing step: 497000
doing step: 498000
doing step: 499000
doing step: 500000
doing step: 501000
doing step: 502000
doing step: 503000
doing step: 504000
doing step: 505000
doing step: 506000
doing step: 507000
doing step: 508000
doing step: 509000
doing step: 510000
doing step: 511000
doing step: 512000
doing step: 513000
doing step: 514000
doing step: 515000
doing step: 516000
doing step: 517000
doing step: 518000
doing step: 519000
doing step: 520000
doing step: 521000
doing step: 522000
doing step: 523000
doing step: 524000
doing step: 525000
doing step: 526000
doing step: 527000
doing step: 528000
doing step: 529000
doing step: 530000
doing step: 531000
doing step: 532000
doing step: 533000
doing step: 534000
doing step: 535000
doing step: 536000
doing step: 537000
doing step: 538000
doing step: 539000
doing step: 540000
doing step: 541000
doing step: 542000
doing step: 543000
doing step: 544000
doing step: 545000
doing step: 546000
doing step: 547000
doing step: 548000
doing step: 549000
doing step: 550000
doing step: 551000
doing step: 552000
doing step: 553000
doing step: 554000
doing step: 555000
doing step: 556000
doing step: 557000
doing step: 558000
doing step: 559000
doing step: 560000
doing step: 561000
doing step: 562000
doing step: 563000
doing step: 564000
doing step: 565000
doing step: 566000
doing step: 567000
doing step: 568000
doing step: 569000
doing step: 570000
doing step: 571000
doing step: 572000
doing step: 573000
doing step: 574000
doing step: 575000
doing step: 576000
doing step: 577000
doing step: 578000
doing step: 579000
doing step: 580000
doing step: 581000
doing step: 582000
doing step: 583000
doing step: 584000
doing step: 585000
doing step: 586000
doing step: 587000
doing step: 588000
doing step: 589000
doing step: 590000
doing step: 591000
doing step: 592000
doing step: 593000
doing step: 594000
doing step: 595000
doing step: 596000
doing step: 597000
doing step: 598000
doing step: 599000
doing step: 600000
doing step: 601000
doing step: 602000
doing step: 603000
doing step: 604000
doing step: 605000
doing step: 606000
doing step: 607000
doing step: 608000
doing step: 609000
doing step: 610000
doing step: 611000
doing step: 612000
doing step: 613000
doing step: 614000
doing step: 615000
doing step: 616000
doing step: 617000
doing step: 618000
doing step: 619000
doing step: 620000
doing step: 621000
doing step: 622000
doing step: 623000
doing step: 624000
doing step: 625000
doing step: 626000
doing step: 627000
doing step: 628000
doing step: 629000
doing step: 630000
doing step: 631000
doing step: 632000
doing step: 633000
doing step: 634000
doing step: 635000
doing step: 636000
doing step: 637000
doing step: 638000
doing step: 639000
doing step: 640000
doing step: 641000
doing step: 642000
doing step: 643000
doing step: 644000
doing step: 645000
doing step: 646000
doing step: 647000
doing step: 648000
doing step: 649000
doing step: 650000
doing step: 651000
doing step: 652000
doing step: 653000
doing step: 654000
doing step: 655000
doing step: 656000
doing step: 657000
doing step: 658000
doing step: 659000
doing step: 660000
doing step: 661000
doing step: 662000
doing step: 663000
doing step: 664000
doing step: 665000
doing step: 666000
doing step: 667000
doing step: 668000
doing step: 669000
doing step: 670000
doing step: 671000
doing step: 672000
doing step: 673000
doing step: 674000
doing step: 675000
doing step: 676000
doing step: 677000
doing step: 678000
doing step: 679000
doing step: 680000
doing step: 681000
doing step: 682000
doing step: 683000
doing step: 684000
doing step: 685000
doing step: 686000
doing step: 687000
doing step: 688000
doing step: 689000
doing step: 690000
doing step: 691000
doing step: 692000
doing step: 693000
doing step: 694000
doing step: 695000
doing step: 696000
doing step: 697000
doing step: 698000
doing step: 699000
doing step: 700000
doing step: 701000
doing step: 702000
doing step: 703000
doing step: 704000
doing step: 705000
doing step: 706000
doing step: 707000
doing step: 708000
doing step: 709000
doing step: 710000
doing step: 711000
doing step: 712000
doing step: 713000
doing step: 714000
doing step: 715000
doing step: 716000
doing step: 717000
doing step: 718000
doing step: 719000
doing step: 720000
doing step: 721000
doing step: 722000
doing step: 723000
doing step: 724000
doing step: 725000
doing step: 726000
doing step: 727000
doing step: 728000
doing step: 729000
doing step: 730000
doing step: 731000
doing step: 732000
doing step: 733000
doing step: 734000
doing step: 735000
doing step: 736000
doing step: 737000
doing step: 738000
doing step: 739000
doing step: 740000
doing step: 741000
doing step: 742000
doing step: 743000
doing step: 744000
doing step: 745000
doing step: 746000
doing step: 747000
doing step: 748000
doing step: 749000
doing step: 750000
doing step: 751000
doing step: 752000
doing step: 753000
doing step: 754000
doing step: 755000
doing step: 756000
doing step: 757000
doing step: 758000
doing step: 759000
doing step: 760000
doing step: 761000
doing step: 762000
doing step: 763000
doing step: 764000
doing step: 765000
doing step: 766000
doing step: 767000
doing step: 768000
doing step: 769000
doing step: 770000
doing step: 771000
doing step: 772000
doing step: 773000
doing step: 774000
doing step: 775000
doing step: 776000
doing step: 777000
doing step: 778000
doing step: 779000
doing step: 780000
doing step: 781000
doing step: 782000
doing step: 783000
doing step: 784000
doing step: 785000
doing step: 786000
doing step: 787000
doing step: 788000
doing step: 789000
doing step: 790000
doing step: 791000
doing step: 792000
doing step: 793000
doing step: 794000
doing step: 795000
doing step: 796000
doing step: 797000
doing step: 798000
doing step: 799000
doing step: 800000
doing step: 801000
doing step: 802000
doing step: 803000
doing step: 804000
doing step: 805000
doing step: 806000
doing step: 807000
doing step: 808000
doing step: 809000
doing step: 810000
doing step: 811000
doing step: 812000
doing step: 813000
doing step: 814000
doing step: 815000
doing step: 816000
doing step: 817000
doing step: 818000
doing step: 819000
doing step: 820000
doing step: 821000
doing step: 822000
doing step: 823000
doing step: 824000
doing step: 825000
doing step: 826000
doing step: 827000
doing step: 828000
doing step: 829000
doing step: 830000
doing step: 831000
doing step: 832000
doing step: 833000
doing step: 834000
doing step: 835000
doing step: 836000
doing step: 837000
doing step: 838000
doing step: 839000
doing step: 840000
doing step: 841000
doing step: 842000
doing step: 843000
doing step: 844000
doing step: 845000
doing step: 846000
doing step: 847000
doing step: 848000
doing step: 849000
doing step: 850000
doing step: 851000
doing step: 852000
doing step: 853000
doing step: 854000
doing step: 855000
doing step: 856000
doing step: 857000
doing step: 858000
doing step: 859000
doing step: 860000
doing step: 861000
doing step: 862000
doing step: 863000
doing step: 864000
doing step: 865000
doing step: 866000
doing step: 867000
doing step: 868000
doing step: 869000
doing step: 870000
doing step: 871000
doing step: 872000
doing step: 873000
doing step: 874000
doing step: 875000
doing step: 876000
doing step: 877000
doing step: 878000
doing step: 879000
doing step: 880000
doing step: 881000
doing step: 882000
doing step: 883000
doing step: 884000
doing step: 885000
doing step: 886000
doing step: 887000
doing step: 888000
doing step: 889000
doing step: 890000
doing step: 891000
doing step: 892000
doing step: 893000
doing step: 894000
doing step: 895000
doing step: 896000
doing step: 897000
doing step: 898000
doing step: 899000
doing step: 900000
doing step: 901000
doing step: 902000
doing step: 903000
doing step: 904000
doing step: 905000
doing step: 906000
doing step: 907000
doing step: 908000
doing step: 909000
doing step: 910000
doing step: 911000
doing step: 912000
doing step: 913000
doing step: 914000
doing step: 915000
doing step: 916000
doing step: 917000
doing step: 918000
doing step: 919000
doing step: 920000
doing step: 921000
doing step: 922000
doing step: 923000
doing step: 924000
doing step: 925000
doing step: 926000
doing step: 927000
doing step: 928000
doing step: 929000
doing step: 930000
doing step: 931000
doing step: 932000
doing step: 933000
doing step: 934000
doing step: 935000
doing step: 936000
doing step: 937000
doing step: 938000
doing step: 939000
doing step: 940000
doing step: 941000
doing step: 942000
doing step: 943000
doing step: 944000
doing step: 945000
doing step: 946000
doing step: 947000
doing step: 948000
doing step: 949000
doing step: 950000
doing step: 951000
doing step: 952000
doing step: 953000
doing step: 954000
doing step: 955000
doing step: 956000
doing step: 957000
doing step: 958000
doing step: 959000
doing step: 960000
doing step: 961000
doing step: 962000
doing step: 963000
doing step: 964000
doing step: 965000
doing step: 966000
doing step: 967000
doing step: 968000
doing step: 969000
doing step: 970000
doing step: 971000
doing step: 972000
doing step: 973000
doing step: 974000
doing step: 975000
doing step: 976000
doing step: 977000
doing step: 978000
doing step: 979000
doing step: 980000
doing step: 981000
doing step: 982000
doing step: 983000
doing step: 984000
doing step: 985000
doing step: 986000
doing step: 987000
doing step: 988000
doing step: 989000
doing step: 990000
doing step: 991000
doing step: 992000
doing step: 993000
doing step: 994000
doing step: 995000
doing step: 996000
doing step: 997000
doing step: 998000
doing step: 999000
doing step: 1000000
doing step: 1001000
doing step: 1002000
doing step: 1003000
doing step: 1004000
doing step: 1005000
doing step: 1006000
doing step: 1007000
doing step: 1008000
doing step: 1009000
doing step: 1010000
doing step: 1011000
doing step: 1012000
doing step: 1013000
doing step: 1014000
doing step: 1015000
doing step: 1016000
doing step: 1017000
doing step: 1018000
doing step: 1019000
doing step: 1020000
doing step: 1021000
doing step: 1022000
doing step: 1023000
doing step: 1024000
doing step: 1025000
doing step: 1026000
doing step: 1027000
doing step: 1028000
doing step: 1029000
doing step: 1030000
doing step: 1031000
doing step: 1032000
doing step: 1033000
doing step: 1034000
doing step: 1035000
doing step: 1036000
doing step: 1037000
doing step: 1038000
doing step: 1039000
doing step: 1040000
doing step: 1041000
doing step: 1042000
doing step: 1043000
doing step: 1044000
doing step: 1045000
doing step: 1046000
doing step: 1047000
doing step: 1048000
doing step: 1049000
doing step: 1050000
doing step: 1051000
doing step: 1052000
doing step: 1053000
doing step: 1054000
doing step: 1055000
doing step: 1056000
doing step: 1057000

In [ ]:
cursor_new.close()
connection_new.commit()

In [ ]:
batch = [[row[1][0], row[1][1], row[1][2], row[1][3], row[1][4], row[1][5], row[1][6], row[1][7]] for row in movie_reviews.iloc[0:100].iterrows()]

In [ ]:
type(batch[0][0])

int